<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
            <body>
                <h1>Playing</h1>
               <ul>
                   <% for(let i=1;i<=5;i++){
                       %>
                       <li>
                           <%= i %>
                       </li>

                   <%} %>
                   </ul>


                   <% if(true)
                   {%>
                       <h1>Its True</h1>
                   <%}
                   else
                   {%>
                       <h3>Its False</h3>
                   <%}%>

            </body>
      
</html>